name: Build Open Integration Engine

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          java-package: 'jdk+fx'
          distribution: 'zulu'

      - name: Build OIE (signed)
        if: github.ref == 'refs/heads/main'
        working-directory: server
        run: ant -f mirth-build.xml

      - name: Build OIE (unsigned)
        if: github.ref != 'refs/heads/main'
        working-directory: server
        run: ant -f mirth-build.xml -DdisableSigning=true -Dcoverage=true

      - name: Package distribution
        run: tar czf openintegrationengine.tar.gz -C server/ setup --transform 's|^setup|openintegrationengine/|'

      - name: Create artifact
        uses: actions/upload-artifact@v4
        with:
          name: oie-build
          path: openintegrationengine.tar.gz

      - name: Stage Test Results
        if: (!cancelled())
        run: |
          mkdir -p aggregate-test-results
          # Copy the directory structures
          cp -r --parents */build/test-results aggregate-test-results/

      - name: Upload Test Results
        if: (!cancelled())
        uses: actions/upload-artifact@v4
        with:
          name: Test Results
          path: |
            aggregate-test-results/**/*.xml

